body {
  background-color: #381460;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  font-size: 1.4rem;
  color: #ffffff
}
.title{
  text-align: center;
  font-size: 4rem;
  margin-top: 2.5rem;
  font-family: 'Kaushan Script', cursive;
  color: #77D970;
}
table{
  padding-top: 25px;
  background-color: #FE346E;
  border: 1px solid black;
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
td{
  padding: 15px;
}
select{
  padding: 3px;
}
.start{
  padding: 10px 20px 10px 20px;
}
